.footer{
    margin :0;
    bottom: 0%;
    position: fixed;
    font-weight: bold;
    height: 60px;
    width: 1389px;
    padding-top: 10px;
    margin-top:10px;
    justify-content: center;
    text-align: center;
    background-color: #38d39f;
   }
 .footer2 {
     position: fixed;
     left: 0;
     bottom: 0;
     height:10px;
     width: 100%;
     background-color:black;
     font-family: 'Dancing Script', cursive;
     margin-bottom: 50px;
     
     }